@import "tailwindcss";

html,
body {
  overflow-x: hidden;
}

@font-face {
  font-family: "Suhayb";
  src: url("./assets/fonts/rudawregular2.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@theme {
  --font-suhayb: "Suhayb", "Lateef", sans-serif;
}

/* style سەردێرەکان */
@keyframes marquee {
  100% {
    transform: translateX(100%);
  }
  0% {
    transform: translateX(-100%);
  }
}

/* style search */
@keyframes fade {
  from {
    opacity: 0;
    transform: translateY(-5px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade {
  animation: fade 0.2s ease-out;
}
