@import "tailwindcss";

@font-face {
  font-family: "Suhayb";
  src: url("./assets/fonts/rudawregular2.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@theme {
  --font-suhayb: "Suhayb", "Lateef", sans-serif;
}

@keyframes marquee {
  100% {
    transform: translateX(100%);
  }
  0% {
    transform: translateX(-100%);
  }
}
